/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

$primary: #4da8da;
$normal: rgb(56, 165, 56);
$hot: rgb(224, 0, 0);
$cold: rgb(8, 179, 179);

.v-container {
    padding: 0 !important;
}

.v-application {
    background: #4da8da !important;
    background: linear-gradient(172deg, rgba(77, 168, 218, 1) 0%, rgba(255, 243, 153, 1) 100%) !important;
}
